<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <div>
            <img src="images/logo.png" class="site-logo" alt="logo">
            <img src="images/logo2.png" class="site-logo_name" alt="logo_name">
          </div>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= nav.name === 'index' ? 'active' : '' %>">
            <a href="/index.html">
              <div class="nav_title">
                <p>首页</p>
              </div>
            </a>
          </li>
          <li class="<%= nav.name === 'market' ? 'active' : '' %>">
            <a href="/market.html">
              <div class="nav_title">
                <p>产品介绍</p>
              </div>
            </a>
          </li>
          <li class="<%= nav.name === 'museum' ? 'active' : '' %>">
            <a href="/museum.html">
              <div class="nav_title">
                <p>申请试用</p>
              </div>
            </a>
          </li>
          <li class="<%= nav.name === 'painting' ? 'active' : '' %>">
            <a href="/painting.html">
              <div class="nav_title">
                <p>机器人加盟</p>
              </div>
            </a>
          </li>
          <li class="<%= nav.name === 'digit' ? 'active' : '' %>">
            <a href="/digit.html">
              <div class="nav_title">
                <p>AI机器人</p>
              </div>
            </a>
          </li>
          <li class="<%= nav.name === 'news' ? 'active' : '' %>">
            <a href="/news.html">
              <div class="nav_title">
                <p>免费体验</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
